/*
* 全局样式
*/

// 侧栏
.wis-drawer{
    height: 'calc(100% - 55px)';
    overflow: 'auto';
    padding-bottom: '53px';
    position: 'static';

    .wis-drawer-footer{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        border-top: 1px solid #e8e8e8;
        padding: 10px 16px;
        text-align: right;
        background: #fff;
    
        Button{
            margin-right: 8px;
        }
    }
}





.ivu-form{
    .ivu-date-picker{
        width: -webkit-fill-available;
    }
}